$dark-grey: #555;
$basic-gray: #ddd;
$basic-red: #d24a43;

%h2-style {
  text-transform: uppercase;
  font-size: 1.25em;
  margin: 40px 0;
}

%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.88em;
  display: inline-block;
  margin: 60px 0 45px 0;
  &:after {
    display: block;
    content: '';
    width: 30%;
    height: 3px;
    background: $basic-red;
    margin: 15px auto 0;
  }
}

.service, .contact, .product {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $dark-grey;
  line-height: 24px;
  font-weight: 600;
  @extend %flex
}

.root {
  @extend %flex;
}

.wrapper {
  @extend %flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}

.top {
  padding: 20px 10px;
  border-bottom: 1px solid $basic-gray;
  &_logo {
    background: $basic-gray;
    display: inline-block;
    padding: 20px 90px;
  }
}

%hamburger-line {
  background: $dark-grey;
  display: block;
  width: 40px;
  height: 4px;
}

.hamburger {
  position: absolute;
  top: 35px;
  right: 10px;
  display: block;
  cursor: pointer;
  padding: 14px 0;

  &_line {
    @extend %hamburger-line;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      bottom: 14px;
      @extend %hamburger-line;
    }
    &:after {
      content: '';
      position: absolute;
      top: 14px;
      @extend %hamburger-line;
    }
  }
}

.nav {
  background: $basic-gray;
  &_list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
  }
  &_list.collapsed {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    &.is-expanded {
      overflow: hidden;
      max-height: 500px;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
    }
    li {
      width: 100%;
    }
  }
  &_item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    cursor: pointer;
  }
  &_link {
    text-decoration: none;
    color: $dark-grey;
    display: block;
    padding: 13px 0;
    background: transparent;
    &.active {
      background: $basic-red;
      color: #fff;
    }
  }
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.about {
  text-align: center;
  &_head {
    font-size: 1.88em;
    display: inline-block;
    margin: 60px 0 45px 0;
    &:after {
      display: block;
      content: '';
      width: 30%;
      height: 3px;
      background: $basic-red;
      margin: 15px auto 0;
    }
  }
  &_text {
    margin-bottom: 15px;
    font-weight: 400;
  }
  &_subtext {
    color: $basic-red;
    text-transform: uppercase;

    margin-bottom: 20px;
  }
  &_button {
    border-radius: 5px;
    border: none;
    background-color: $basic-red;
    border-bottom: 2px solid $dark-grey;
    outline: none;
    color: #fff;
    padding: 15px 20px 12px;
    font-size: 1em;
    margin: 20px 0;
    cursor: pointer;
  }
}

.bolder {
  font-weight: 600;
}

.review {
  &_head {
    @extend %h2-style;
  }
  &_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  &_item {
    padding: 15px;
    border: 3px solid $basic-gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    &:hover {
      border-color: $basic-red;
      color: $basic-red;
      .review_img {
        box-shadow: inset 0 0 0 3px $basic-red;
        -webkit-box-shadow: inset 0 0 0 3px $basic-red;
        -moz-box-shadow: inset 0 0 0 3px $basic-red;
      }
      .review_name:after {
        width: 50%;
      }
    }
  }
  &_text-wrap {
    text-align: center;
  }
  &_name {
    font-size: 1.13em;
    display: inline-block;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    &:after {
      display: block;
      content: '';
      width: 35%;
      height: 3px;
      background: $basic-red;
      margin: 15px auto 25px;
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
    }
  }
  &_img {
    border-radius: 50%;
    margin: 0 auto;
    height: 80px;
    width: 80px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    background: url("/photo.png") no-repeat center;
    background-size: contain;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  }
  &_text {
    font-style: italic;
    font-weight: 400;
  }
}

.office-hours {
  &_head {
    @extend %h2-style;
  }
  &_table {
    margin: 0 auto 20px;
    border-collapse: collapse;
    tr:nth-child(odd) {
      background: $basic-gray;
    }
    td {
      padding: 12px 35px;
    }
  }
}

.footer {
  background: $basic-gray;
  text-align: center;
  padding: 12px 0;
  margin-top: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  &_link {
    text-decoration: none;
    color: #777777;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
  }
}

@media (min-width: 992px) {
  .review {
    &_container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
}

@media (min-width: 540px) {
  .top {
    border-bottom: none;
    &_logo {
      padding: 35px 90px;
    }
  }
  .hamburger {
    display: none;
  }
  .nav {
    &_list.collapsed {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      max-height: 100%;
    }
    .review {
      &_item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 35px;
      }
      &_img {
        margin: 0;
      }
      &_text-wrap {
        margin-left: 40px;
        text-align: left;
      }
      &_name {
        &:after {
          margin: 15px 0 25px;
        }
      }
    }
  }
}
